/*
 * Copyright (c) 2018 Thomas Weber <pokehaxco@gmail.com>
 *
 * SPDX-License-Identifier: MIT
 */

/* Default state of update checker elements */
p#update-check {
    display: block;
}
p#update-progress, p#update-failed, p#update-unnecessary,
        p#update-necessary {
    display: none;
}

/* Search field */
input#search-text {
    width: 300px;
}

/* Search results */
p#search-show-all {
    display: block;
}
p#search-failed, p#search-no-results, p#search-results {
    display: none;
}
p#search-results > div {
    border: 1px solid black;
    padding: 5px;
}
p#search-results > div:not(:last-child) {
    margin-bottom: 4px;
}

/* Failure fields */
p#update-failed, p#search-failed {
    font-weight: bold; color: #f00;
}

/* Restaurant info popup */
div#restaurant-info {
    display: none;
    border: 3px solid black;
    background-color: #fff;
    text-align: center;
    padding: 5px;

    position: fixed;
    z-index: 999;
    width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* Responsive design */
@media only screen and (max-width: 360px) {
    input#search-text {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    div#restaurant-info {
        width: 100%;
    }
}
